{% extends 'base.html.twig' %}
{% block title %}Liste des commentaires{% endblock %}
{% block titre %}Liste des commentaires{% endblock %}


{% block body %}

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Auteur</th>
            <th scope="col">Commenatire</th>
            <th scope="col">Article</th>
            <th scope="col">Actions</th>

        </tr>
    </thead>
    
    <tbody>
        {% for comment in commentaires %}
        <tr>
            <td>{{comment.id}}</td>
            <td>{{comment.auteur|capitalize}}</td>
            <td>{{comment.message}}</td>
            <td>{{comment.article.titre|title}}</td>
            <td>
                <a href="{{ path('update_comment',{'id':comment.id}) }}" class="btn btn-info">Edit</a>
                <a href="{{ path('delete_comment',{'id':comment.id}) }}" class="btn btn-danger">Delete</a>
            </td>  
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}